* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$light-grey: #e1e1e1;
$grey-color: rgb(126, 126, 126);
$main-color: #333;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $main-color;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;

  &:empty {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.btn {
  border: unset;
  background: unset;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  display: inline-flex;
  padding: 8px 10px;
  text-decoration: none;
}

.btn-common {
  border: solid 1px $light-grey;
  border-radius: 5px;
  transition: all 0.25s ease;

  &:hover {
    background-color: $light-grey;
  }
}

.btn-edit {
  position: absolute;
  top: -5px;
  right: 5px;
  padding: 0;
  transition: all 0.25s ease;

  &:hover {
    color: $grey-color;
  }
}

.home__controls {
  display: flex;
  gap: 15px;
}

.circle {
  display: block;
  width: 30px;
  height: 30px;
  border: solid 1px $main-color;
  border-radius: 50%;
}

.grey {
  background-color: $light-grey;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.red {
  background-color: crimson;
}

.table {
  display: flex;
  width: max-content;
  border-top: solid 1px $light-grey;
  border-left: solid 1px $light-grey;
  border-right: none;
}

.first-col {
  color: inherit;
  border-right: solid 1px $light-grey;

  div,
  h4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div {
    font-weight: bold;
    border-bottom: solid 1px $light-grey;
    min-height: 55px !important;
    min-width: 100px;
  }

  h4 {
    border-bottom: solid 1px $light-grey;
    min-height: 75px;
    padding: 8px;
  }
}

.col {
  .item {
    position: relative;
    min-height: 55px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: solid 1px $light-grey;
    border-right: solid 1px $light-grey;

    &:last-of-type {
      border-bottom: none;
    }
  }

  h4 {
    min-height: 55px !important;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px $light-grey;
    border-right: solid 1px $light-grey;
  }
}

.table-item {
  padding: 8px;
  position: relative;
  min-height: 75px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px $light-grey;
  border-right: solid 1px $light-grey;
}
