* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #333;
$secondary: rgb(58, 108, 110);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $primary-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
}

.btn {
  background: unset;
  border: unset;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 6px 10px;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.btn-common {
  border: solid 1px $primary-color;
  border-radius: 5px;
}

.btn-form {
  border: solid 1px $primary-color;
}

.btn-cta {
  border: solid 1px $secondary;
  background-color: $secondary;
  color: white;
  border-radius: 5px;
  transition: all 0.25s ease;

  &:hover {
    background-color: lighten($secondary, 15%);
  }
}

.circle {
  width: 30px;
  height: 30px;
  border: solid 1px $primary-color;
  border-radius: 50%;
}

.grey {
  background-color: lightgray;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.red {
  background-color: crimson;
}

.form-control {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 2rem;
}

.progress-wrapper {
  position: relative;
  height: 15px;
  margin-bottom: 2rem;

  .bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: crimson;
    transition: all 0.25s ease;
  }
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groups-input-wrapper {
  display: flex;
  input {
    font-size: inherit;
    font-family: inherit;
    padding: 8px;
    border: solid 1px $primary-color;

    &:focus {
      outline: none;
    }
  }
}

.form-radio-buttons {
  display: flex;
  gap: 10px;

  label {
    padding-right: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}

.groups-card {
  margin-bottom: 2rem;
  padding: 15px;
  border: solid 1px $primary-color;
  border-radius: 5px;

  h4 {
    margin-bottom: 1rem;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
